.app-wrapper {
    margin: 0 auto;
    display: grid;
    width: auto;
    grid-template-areas: "h h" "n c";

    grid-template-rows: 60px 1fr;
    grid-template-columns: minmax(auto, 200px) auto;
    /* grid-gap: 10px; */
}

.app-wrapper-content {
    grid-area: c;
    background-color: #e3e2e1;

}