.dialogs {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows:  minmax(700px, auto) 1fr;
    padding-bottom: 100px;

}

.dialog a {
    text-decoration: none;
    color: #3E3849;

}

.dialogsItem {
    padding: 10px;


}

/*.dialogsItem .active {*/
/*    color: gold;*/
/*}*/

.messages {
    padding: 10px;
    color: black;
}

.messages div {
    margin-bottom: 20px;


}